table tr th{
    padding:4em;
    padding-bottom:0;
    font-size:20px;
    border-bottom: 2px solid #F6F7F8;
    text-align:center;
}
table {
    margin-left:5em;
    margin-right:5em;
}
td{
    padding:4em;
    border-bottom: 2px solid #F6F7F8;
}
.input-group{
    display: flex;
    justify-content: space-between;
   background:#F6F7F8;
    width: 125px;
    border:none;
}
td.text{
    font-size: 20px;
    color:#262626;
    
   
}
td.text1  {
display: flex;
gap:10px;
}
td.text1 p{
    font-weight: 500;
    font-size: 15px;
    padding-top:20px;
}
.input{
    padding:5em;
    padding-left:5em;
}
input{
    padding:20px;
    color:#262626;
    border:2px solid #F1F3F4;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
}
input.redeem{
    background:#33A0FF;
    color:white;
    font-size:18px;
    border-bottom-right-radius: 5px;
    border-top-right-radius:5px;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border:none;
}
.checkout{
    display: flex;
    justify-content: space-around;
    margin-top:3em;
    margin-bottom:3em;
}
.cont{
    display: flex;
    gap:10em;
}
p.biggy{
    font-size:30px;
    font-weight:500;
}
button.medbtn{
    width: 100%;
    background-color: #33A0FF;
    border-radius: 5px;
    border:none;
}









/* .checkout{
    display:flex;
    justify-content: space-between;
} */
td.out{
    padding: 1em;
    padding-left: 10em;
    font-size:18px;
    border-bottom: none;
   
}
tr td.underline{
    border-bottom: 2px solid #F6F7F8;;
}
 tr td.bold h3{
    margin-left:4em;
}
table.check{
    position: relative;
}
 
.tableimage{
    display:none;
}


 @media screen and (max-width: 768px){
   table{
    display:none;
   }
   .tableimage {
    display:block;
    
}
.checkout{
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    margin:10px;
}
button.medbtn{
    width: 50%;
    background-color: #33A0FF;
    border-radius: 5px;
    border:none;
}
p.biggy{
    font-size:20px;
    font-weight:500;
}
input.redeem{
    padding: 10px;
    border-radius: 5px;
}

}



 
 

